<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CF-Meter</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        
        
        <style>
            .fa {
            font-size: 30px;
            width: 30px;
            text-align: center;
            text-decoration: none !important;
            border-radius: 50%;
            }
            .fa-small {
            font-size: 20px;
            text-align: center;
            text-decoration: none !important;
            border-radius: 50%;
            }
        </style>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <!-- Navbar content -->
        <a class="navbar-brand" href="/">CF-Meter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About me<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <span class="navbar-text">
            <a style="text-decoration: none;" href="https://github.com/shikher25git/CF-Meter"><span class="fa fa-small fa-github"></span>Github Repo</a>
          </span>
        </div>
      </nav>

      <div class="container">
          <br> <br>
        <div class="card mb-3 mx-auto" style="max-width: 840px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/mee.jpg" alt="..." style="max-height: 250px; max-width: 250px;">
                <h4 class = "text-center" style = "padding-top: 30px;"><a href = "https://drive.google.com/file/d/121Y4mznWltqIZmwoBubhQNiBLupUIAiJ/view?usp=sharing">My Resume</a></h4>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Hi! 👋</h5>
                  <p class="card-text">I am Shikher Sinha. I am currently a pre-final year student of B.Tech in Information Tehnology at Kamla Nehru Institute of Technology, Sultanpur.
                      I am interested in Competitve Programming and Web Development, and you can find me trying to get better in these skills on most platforms under the handle '<strong>shikher25</strong>'. <br>
                      Along with these technical skills, I like to read books, binge movies and shows, listen songs, and watch sports. <br>
                      I am a member of the Literary Council, the Quizzing Club, and the Programming Club of my institute.<br>
                      If you would like to discuss something, have movie, book or song recommendations, or just want to have a chat, feel free to contact me on any platform!
                      
                  </p>
                </div>
              </div>
            </div>
          </div>

        <br>
        <hr>
        <div class="text-center">
            Created with &#128147; by <a style="text-decoration: none;" href="https://codeforces.com/profile/shikher25">shikher25</a> &#129299;
            <br><hr>
            <a href="https://github.com/shikher25git" class="fa fa-github"></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/shikher-sinha-384415179/" class="fa fa-linkedin"></a>
            &nbsp;
            <a href="mailto:shikher225112@gmail.com" class="fa fa-envelope"></a>
            &nbsp;
        </div>
      </div>
      <br>
</body>
</html>




